html, body {
   margin: 0;
   padding: 0;
   background-image: url(/assets/openbooks.jpg);
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center;
 }
 h2 {
   color:whitesmoke;
   font-size: 40px;
   font-weight: bold;
   text-transform: uppercase;
   position: relative;
}
body {
   font-family: Arial, serif;
}
.container {
   margin-bottom: 10px;
} 
.header h1 {
   color: #000;
   font-size: 20px;
   font-weight: bold;
   text-transform: uppercase;
   position: relative;  
}
 .card {
   overflow: hidden;
   position: relative;
   width: 26%;
   height: 100%;
   display: inline-block;
   margin: 50px 40px;
   position: relative;
   border-color: rgb(0, 0, 0);
   background-color:LightGray;;
 }
.title {
   color: #000;
   font-size: 10px;
   font-weight: bold;
   margin-bottom: 5px;
}
 .search-container {
   float: right;
   margin-top: 8px;
  margin-right: 16px;
 }
 .topnav input[type=text] {
   float: right;
   padding: 6px;
   border: none;
   margin-top: 8px;
   margin-right: 16px;
   font-size: 17px;
 }


